.mini_bar__container {
    width: fit-content;
    padding-top: 100px;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 100%;
}

.mini_bar>li {
    margin: 32px 0;
    color: #525252;
}